[submodule "libsparseir"]
	path = libsparseir
	url = https://github.com/SpM-lab/libsparseir.git
[submodule "deps/xprec"]
	path = deps/xprec
	url = https://github.com/tuwien-cms/xprec.git
[submodule "deps/eigen"]
	path = deps/eigen
	url = https://gitlab.com/libeigen/eigen.git
